<div id="<%= dom_id ticket %>">
  <p>
    <strong>Request Number:</strong>
    <%= ticket.request_number %>
  </p>

  <p>
    <strong>Sequence Number:</strong>
    <%= ticket.sequence_number %>
  </p>

  <p>
    <strong>Date Times:</strong>
    <%= ticket.date_times %>
  </p>

</div>